* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.recommendations {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}